.container__companies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: $text;
}

.companies__col{
    height: 140px;
    flex-shrink: 0;
    border: 1px solid $level1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .companies{
        margin-top: 120px;
    }
}


@media screen and (max-width: 900px) {
    .companies{
        margin-top: 600px;
    }
}

@media screen and (max-width: $tablet) {
    .container__companies{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .container__companies{
        grid-template-columns: 1fr;
    }
    .companies__col{
        height: 100px;
    }
    .companies{
        margin-top: 800px;
    }
}