// Fonts
$font-main: 'Sen', sans-serif;

// Colors
$base: #000000;
$level1: #181823;
$light_grey: #8491A0;
$dark_grey: #5B6876;
$text: #FFFFFF;
$primary: #5221E6;
$green_accent: #3CC74E;
$pink_accent: #E95D90;
$peach_accent: #FFF3E4;
$violet_accent: #FBE4FF;

// Media
$tablet: 998px;

